html,
body {
    margin: 0;
    padding: 0;
    background: #000 url('https://wallpapercave.com/wp/wp3470711.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

* {
    box-sizing: border-box;
    transition: all 1s;
}

span {
    font-weight: 900;
    color: white;
}

.spinner {
    height: 100vh;
    opacity: 1;
    position: relative;
    transition: opacity linear 0.1s;
}

.spinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: rgb(196, 70, 228);
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 35%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
}


@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }

    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}