html,
body {
    margin: 0;
    padding: 0;
    background: #000 url('https://wallpapercave.com/wp/wp3470711.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

* {
    box-sizing: border-box;
    transition: all 1s;
}