.flip-card {
    display: flex;
    background-color: transparent;
    max-width: 360px;
    height: 450px;
    perspective: 1000px;
    flex-basis: 25%;
}

.flip-card {
    z-index: 0;
    overflow: hidden;
    padding: 1px;
    border-radius: 4px;
}

.flip-card::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #399953;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background: linear-gradient(60deg,
            hsl(224, 85%, 66%),
            hsl(269, 85%, 66%),
            hsl(314, 85%, 66%),
            hsl(359, 85%, 66%),
            hsl(44, 85%, 66%),
            hsl(89, 85%, 66%),
            hsl(134, 85%, 66%),
            hsl(179, 85%, 66%));
    ;
    animation: rotate 4s linear infinite;
}

.flip-card::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: black;
    border-radius: 5px;
}


.flip-card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
}

.flip-card-front {
    background: black;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.flip-card-front img {
    width: 200px;
}

.flip-card-back {
    background-color: black;
    transform: rotateY(180deg);
    display: flex;
}

.flip-card-back img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}